<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnigmaEmporium</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <!-- navbar -->
    <div class="nav-bar">
        <h1>EnigmaEmporium</h1>
        <ul>
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="/logout">Logout</a>
        </ul>
    </div>