<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/css/common.css">
    <!-- displaying content here -->
    <div class="blog-display">
        <h3 class="title"><%= foundBlog.title %></h3>
        <p><%= foundBlog.content %></p>
    </div>

    
    <%- include("partials/footer.ejs") %>
